html {
  background-color: #fbb524;
}

header {
  display: block;
  background-color: #057987;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  margin: 10px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Mono", monospace;
  height: 100vh;
  text-align: center;
  margin: 0;
}

div {
  padding: 15px 0px;
}

.page-logo {
  width: 180px;
}

.home {
  width: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.alura-logo {
  width: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

button {
  background-color: #ff5964;
  color: white;
  font-size: medium;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h2 {
  color: #ffffff;
}

#carta-jogador,
#carta-maquina {
  width: 360px;
  height: 480px;
  overflow: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  position: relative;
  background-size: 350px 300px;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 10px;
  border-radius: 33px;
}

#carta-jogador h3 {
  text-align: center;
}

.carta-imagem {
  border: 1px solid black;
  height: 100px;
  margin: 10px;
}

.carta-imagem img {
  width: 100%;
  height: 100%;
}

.carta-status {
  height: 160px;
  margin: 2rem;
  color: white;
  z-index: 2;
}

.carta-status input {
  margin: 20px 10px;
}

.resultado-final {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
  border: 2px solid black;
  background-color: black;
}

.--spacing {
  margin-left: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.carta-subtitle {
  z-index: 2;
  position: absolute;
  top: 16px;
  left: 37px;
  font-weight: 800;
  text-transform: uppercase;
}

#cartas {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carta-status p {
  margin-bottom: 2rem;
}

#jogar {
  background-color: #ff5964;
  color: white;
  font-size: xx-large;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

footer {
  clear: both;
  position: relative;
  width: 100%;
  min-height: 200px;
  margin-top: auto;
}

.card-pic {
  width: 180px;
}
